*, *::before, *::after {
    box-sizing: border-box;
    border-width: 100%;
    /* border-style: ridge; */
}

.nborder{
    border:none;
}

label{
    border: none;
}
.selContact{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: left;
    gap: 1rem;
    margin: 1rem;
    padding: 10px;
}
.selBox{
    background-color: rgb(29, 5, 151);
}

.persInform{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: left;
    align-items: bottom;
    gap: 1rem;
    margin: 1rem;
    padding: 10px;
}

.conInform{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: left;
    gap: 1rem;
    margin: 1rem;
    padding: 10px;
}

.form-field{
    display: grid;
    /* background-color: rgb(139, 122, 224); */
    grid-column: span var(--colspan);
    inline-size: 100%;
    gap: .5rem; 
 }
 .form-row0{
    grid-row: 1;
 }
.form-row1{
    grid-row: 2;
}
.form-row2{
    grid-row: 3;
}

.form-row3{
    grid-row: 4;
}
.form-row4{
    grid-row: 5;
}
.form-row5{
    grid-row: 6;
}
.form-row6{
    grid-row: 7;
}
legend{
    grid-column: 1 / -1;
    border: none;
}
input{
    border-style:inset;
}
.nb-btn{
    border-radius: 6px;
    width: 125px;
}
h2{
    border:none;
}
.text-danger {
    color: #dc3545; /* Nice, professional red */
    font-weight: bold;
}
.text-success {
    color: #15732b; /* Nice, professional green */
    font-weight: bold;
}
