*{
    box-sizing: border-box;
    border-style: ridge;
}
.contact-select{
    display:grid; 
    grid-template-columns: repeat(12,1fr);
    gap: 1rem;
    grid-column: 1 / -1;
    border-style: none;
    align-items: center;

}

.spacer{
    grid-column: 1/ -1;
    border-style: none;
}
.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
}
.header{
    background-color: darkslateblue;
    border-style: none;
    color: #ffff;
}
.form-field{
    border-style: none;
    grid-column: span var(--colspan);
    inline-size: 100%;
    gap: 2rem; 

}
.form-field-select{
   display: grid;
    grid-column: 1 / -1;
    border-style: none;
    block-size: 2rem;
    grid-template-columns: subgrid;
    gap: 1rem;
}
.form-field-fullname{
     background-color: darkslateblue; 
    display:grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    width: 250px;
    gap: 1rem;
}
/* @media screen and (width < 48){
    .container{
        --tmpl-cols: repeat(6, 1fr);
    }
} */
.datlab{
    border-style: none;
}
@media screen{
        .container{
        --tmpl-cols: repeat(12, 1fr);
    }
}

legend{
    grid-column: 1 / -1;
}

body {
    min-height: 100vh;
}
